@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --square-dimension: 80px;
  --piece-dimesion: 60px;
}


/* Color classes */
.white {
  background-color: white;
}

.black {
  background-color: black;
}

.board {
  padding: 16px;
}

.square {
  width: var(--square-dimension);
  height: var(--square-dimension);
  padding: 8px;
  border: 1px solid white;
}

.square-row {
  display: flex;
}

.piece {
  width: var(--piece-dimesion);
  height: var(--piece-dimesion);
  border-radius: var(--piece-dimesion);
  padding: 8px;
}
.piece-title {
  width: fit-content;
  height: fit-content;
}

.square, .piece, .piece-title {
  display: flex;
  justify-content: center;
  align-items: center;
}